<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Chúc mừng hạnh phúc | Ngọc Tuấn & Mỹ Hương</title>
      <!-- Stylesheets -->
      <link href="css/bootstrap.css" rel="stylesheet">
      <link href="css/revolution-slider.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="images/favicon.ico" type="image/x-icon">
      <!-- Responsive -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <link href="css/responsive.css" rel="stylesheet">
      <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
      <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
   </head>
   <body>
      <div class="page-wrapper" id='body-wedding'>
         <!-- Preloader -->
         <div class="preloader"></div>
         <!-- Main Header / Header Style Two-->
         <header class="main-header header-style-two">
            <!-- Header Top -->
            <div class="header-top">
               <div class="auto-container clearfix">
                  <!-- Top Left -->
                  <div class="top-left">Chúc mừng hạnh phúc - {{groom}} & {{bride}}</div>
                  <!-- Top Right -->
                  <div class="top-right"></div>
               </div>
            </div>
            <!-- Header Top End -->
            <!--Header-Lower-->
            <div class="header-lower">
               <div class="auto-container">
                  <div class="outer clearfix">
                     <!--Logo -->
                     <div class="logo-outer">
                        <div class="logo"><a href="index.html"><img src="images/logo-2.png" alt=""></a></div>
                     </div>
                     <!--Menu Container-->
                     <div class="menu-container">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                           <div class="navbar-header">
                              <!-- Toggle Button -->        
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              </button>
                           </div>
                           <div class="navbar-collapse collapse clearfix">
                              <ul class="navigation clearfix">
                                 <li class="current dropdown"><a href="#">Đại sảnh</a></li>
                                 <li class="dropdown"><a target="_blank" href="http://fb.com/doanhkaka">Liên hệ</a></li>
                              </ul>
                           </div>
                        </nav>
                        <!-- Main Menu End-->
                     </div>
                  </div>
               </div>
            </div>
            <!--Sticky Header-->
            <div class="sticky-header">
               <div class="auto-container clearfix">
                  <!--Logo-->
                  <div class="logo pull-left">
                     <a href="index.html" class="img-responsive"><img src="images/logo-small.png" alt="Homestate"></a>
                  </div>
                  <!--Right Col-->
                  <div class="right-col pull-right">
                     <!-- Main Menu -->
                     <nav class="main-menu">
                        <div class="navbar-header">
                           <!-- Toggle Button -->       
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           </button>
                        </div>
                        <div class="navbar-collapse collapse clearfix">
                           <ul class="navigation clearfix">
                              <li class="current dropdown"><a href="#">Đại sảnh</a></li>
                              <li class="dropdown"><a target="_blank" href="http://fb.com/doanhkaka">Liên hệ</a></li>
                           </ul>
                        </div>
                     </nav>
                     <!-- Main Menu End-->
                  </div>
               </div>
            </div>
            <!--End Sticky Header-->
         </header>
         <!--End Main Header -->
         <!--Main Slider-->
         <section class="main-slider">
            <div class="tp-banner-container">
               <div class="tp-banner">
                  <ul>
                     <li  data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/6.jpg"  data-saveperformance="off"  data-title="Happy Wedding !">
                        <img src="images/main-slider/6.jpg"  alt="Happy Wedding !"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                        <div class="tp-caption sfb sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="-120"
                           data-speed="1500"
                           data-start="0"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <figure class="content-image">
                              <img src="images/main-slider/content-image-1.png" alt="">
                           </figure>
                        </div>
                        <div class="tp-caption sft sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="50"
                           data-speed="1500"
                           data-start="500"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <h2>{{groom}} &amp; {{bride}}</h2>
                        </div>
                        <div class="tp-caption sfb sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="130"
                           data-speed="1500"
                           data-start="1000"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <div class="default-text">{{time}}</div>
                        </div>
                     </li>
                     <li  data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/6.jpg"  data-saveperformance="off"  data-title="Happy Wedding !">
                        <img src="images/main-slider/6.jpg"  alt="Happy Wedding !"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                        <div class="tp-caption sfb sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="-120"
                           data-speed="1500"
                           data-start="0"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <figure class="content-image">
                              <img src="images/main-slider/content-image-1.png" alt="">
                           </figure>
                        </div>
                        <div class="tp-caption sft sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="50"
                           data-speed="1500"
                           data-start="500"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <h2>{{groom}} &amp; {{bride}}</h2>
                        </div>
                        <div class="tp-caption sfb sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="130"
                           data-speed="1500"
                           data-start="1000"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <div class="default-text">{{time}}</div>
                        </div>
                     </li>
                     <li  data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/6.jpg"  data-saveperformance="off"  data-title="Happy Wedding !">
                        <img src="images/main-slider/6.jpg"  alt="Happy Wedding !"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                        <div class="tp-caption sfb sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="-120"
                           data-speed="1500"
                           data-start="0"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <figure class="content-image">
                              <img src="images/main-slider/content-image-1.png" alt="">
                           </figure>
                        </div>
                        <div class="tp-caption sft sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="50"
                           data-speed="1500"
                           data-start="500"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <h2>{{groom}} &amp; {{bride}}</h2>
                        </div>
                        <div class="tp-caption sfb sfb tp-resizeme"
                           data-x="center" data-hoffset="0"
                           data-y="center" data-voffset="130"
                           data-speed="1500"
                           data-start="1000"
                           data-easing="easeOutExpo"
                           data-splitin="none"
                           data-splitout="none"
                           data-elementdelay="0.01"
                           data-endelementdelay="0.3"
                           data-endspeed="1200"
                           data-endeasing="Power4.easeIn">
                           <div class="default-text">{{time}}</div>
                        </div>
                     </li>
                  </ul>
                  <div class="tp-bannertimer"></div>
               </div>
            </div>
         </section>
         <!--Wedding Section-->
         <section class="wedding-section">
            <div class="auto-container">
               <div class="default-timecounter">
                  <!--Countdown Timer-->
                  <div class="time-counter">
                     <div class="time-countdown clearfix" data-countdown="2016/10/20"></div>
                  </div>
               </div>
               <div class="clearfix">
                  <!--Featured Individual COlumn-->
                  <div class="featured-individual-column col-md-6 col-sm-6 col-xs-12">
                     <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="title-box">
                           <h3>The Bride</h3>
                           <h2>Mỹ Hương</h2>
                        </div>
                        <figure class="image-box">
                           <a href="images/resource/featured-image-5.jpg" class="lightbox-image" title="{{bride}}">
                            <img src="images/resource/featured-image-5.jpg" alt="">
                           </a>
                        </figure>
                        <div class="lower-content">
                           <div class="text">
                              {{bride_des}}
                           </div>
                           <div class="info">
                              <span class="icon flaticon-arrow-and-heart"></span> {{bride_talk}}
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--Featured Individual COlumn-->
                  <div class="featured-individual-column col-md-6 col-sm-6 col-xs-12">
                     <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="title-box">
                           <h3>The Groom</h3>
                           <h2>Ngọc Tuấn</h2>
                        </div>
                        <figure class="image-box"><a href="images/resource/featured-image-6.jpg" class="lightbox-image" title="{{groom}}"><img src="images/resource/featured-image-6.jpg" alt=""></a></figure>
                        <div class="lower-content">
                           <div class="text">{{groom_des}}</div>
                           <div class="info"><span class="icon flaticon-arrow-and-heart"></span> 
                              {{groom_talk}}
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Parallax Section-->
         <section class="parallax-section style-two" style="background-image:url(images/parallax/image-2.jpg);">
            <div class="outer-container">
               <h1>A successful marriage requires <span class="theme_color">falling in love</span> many times, always with the same person.</h1>
            </div>
         </section>
         <!--Gallery Section-->
         <section class="gallery-section grid-style-one">
            <div class="auto-container">
               <!--Section Title-->
               <div class="sec-title text-center">
                  <h2>Our Wedding Gallery</h2>
               </div>
               <div class="row clearfix">
                  <!--Default Portfolio Item-->
                  <div  v-for="slide in slides" class="default-portfolio-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                     <div class="image-box">
                        <figure class="image-box">
                            <a href="images/gallery/{{slide}}" class="lightbox-image">
                                <img src="images/gallery/{{slide}}" alt="">
                            </a>
                        </figure>
                        <!--Overlay Box-->
                        <div class="overlay-box"></div>
                     </div>
                  </div>
               </div>
            </div>
          
         </section>
         <!--Our Story Section-->
         <section class="our-story-section" style="background-image:url(images/parallax/image-3.jpg);">
            <div class="small-container">
               <div class="upper-title">
                  <h2>Our Love Story</h2>
                  <h3>{{love_story_title}}</h3>
               </div>
               <div class="text">
                  {{love_story_content}}
               </div>
               
            </div>
         </section>
         <!--Upcoming Events-->
         <section class="upcoming-events style-two" style="background-image:url(images/background/image-5.jpg);">
            <div class="auto-container">
               <!--Section Title-->
               <div class="sec-title no-bg text-center">
                  <h2>Upcoming Events</h2>
               </div>
               <div class="row clearfix">
                  <!--Upcoming Event Column-->
                  <div class="up-event-column col-md-4 col-sm-6 col-xs-12" v-for="event in events">
                     <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms" style="background-image:url(images/background/image-2.jpg);">
                        <!--Title-->
                        <div class="event-head">
                           <h3>{{event.title}}</h3>
                        </div>
                        <!--Info-->
                        <div class="event-info">
                           <ul>
                              <li><strong>Date</strong><span class="info">{{event.date}}</span></li>
                              <li><strong>Schedule</strong><span class="info">{{event.schedule}}</span></li>
                              <li><strong>Event</strong><span class="info">{{event.venue}}</span></li>
                           </ul>
                           <div class="link"><a href="javascript:void(0)" class="theme-btn btn-style-two">Details</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--Map Section-->
         <section class="map-section">
            <!--Map Container-->
            <div class="map-container">
               <!--Map Canvas-->
               <div class="map-canvas"
                  data-zoom="14"
                  data-lat="21.006622"
                  data-lng="105.786920"           
                  data-type="roadmap"
                  data-hue="#ffc400"
                  data-title="Cầu Giấy, Hà Nội"
                  data-content="Trung tâm hội nghị Quốc gia"                            
                  style="height: 400px;">
               </div>
            </div>
         </section>
         <!--Main Footer / Style Two-->
         <footer class="main-footer style-two">
            <!--Footer Upper-->        
            <div class="footer-upper">
               <div class="auto-container">
                  <h3 class="footer-title">{{groom}}  &amp; {{bride}}</h3>
                  <div class="social-links">
                     <a href="#"><span class="fa fa-facebook-f"></span></a>
                     <a href="#"><span class="fa fa-twitter"></span></a>
                     <a href="#"><span class="fa fa-google-plus"></span></a>
                     <a href="#"><span class="fa fa-linkedin"></span></a>
                     <a href="#"><span class="fa fa-instagram"></span></a>
                  </div>
                  <!--Footer Nav-->
                  <nav class="footer-nav centered">
                     <ul class="clearfix">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                     </ul>
                  </nav>
               </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
               <div class="auto-container">
                  <div class="outer-box text-center">
                     <!--Copyright-->
                     <div class="copyright">&copy; 2016 All Rights Reserved</div>
                  </div>
               </div>
            </div>
         </footer>
      </div>
      <!--End pagewrapper-->
      <!--Scroll to top-->
      <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="icon fa fa-long-arrow-up"></span></div>
      <script src="js/jquery.js"></script> 
      <script src="js/bootstrap.min.js"></script>
      <script src="js/revolution.min.js"></script>
      <script src="js/jquery.fancybox.pack.js"></script>
      <script src="js/jquery.countdown.js"></script>
      <script src="js/bxslider.js"></script>
      <script src="js/owl.js"></script>
      <script src="js/map-script.js"></script>
      <script src="js/wow.js"></script>
      <script src="js/script.js"></script>
      <script src="js/vue.min.js"></script>
      <script src="js/wedding.js"></script>
   </body>
</html>